body {
    background-color: #ff7d59;
}

.header {
    padding: 20px;
}

.links {
    display: inline;
    margin-left: 480px;
}

.links a {
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 3px;
}

.links a:hover {
    color: #d44637;
    border-top: 2px solid #c71c0a;
    border-bottom: 2px solid #c71c0a;
}

.link-a-1 {
    background-color: #09bb18;
    border: #05e649 solid 2px;
    color: white;
    font-weight: bold;
}

.link-a-2 {
    background-color: transparent;
    border: #05e649 solid 2px;
    font-weight: bold;
}


.span-1,
.span-2 {
    font-weight: bold;
    font-size: x-large;
}

.span-1 {
    color: #c71c0a;
}

.span-2 {
    color: #d44637;
}

.secao-1 {
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
}

.secao-2 {
    width: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.secao-3 {
    width: 600px;
    margin-left: 50px;
    margin-top: 50px;
}

.secao-4 {
    width: 600px;
    margin-left: 50px;
    margin-top: 50px;
}

.secao-1 h1 {
    font-weight: bold;
}

.secao-1 h2 {
    font-weight: lighter;
    color: #05e623;
}

img {
    width: 400px;
    margin: 0 auto;
}

.img img {
    width: 70%;
    border-radius: 100%;
}

.img-col {
    width: 20%;
    border-radius: 100%;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0.5% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 4px solid #c71c0a;
}

.produtos img {
    width: 100px;
}

.produtos li:hover {
    border-color: #a11f12;
}

.produtos li:active {
    border-color: #5c0b03;
}

.produtos li:hover h2 {
    font-size: 42px;
}

.produtos img {
    height: 80px;
}

div{
    font-size:30px
}
