header{
    font-size: 45px;
    background-color: azure;
    color: black;
    padding: 25px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid grey;
}

body{
    background-color: #afcaca;
    font-style: oblique;

}

.Times{
    width: 980px;
    margin: 0 auto;
    padding: 50px 0;
}

.Times li{
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: middle;
    margin: 0 2% auto;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

li img{
    width: 50%;
}

.Times li:hover{
    border: 8px solid #837e81;

}

.Time-descricao{
    font-size: 12px;

}

nav a:hover{
    color: #c78c19;
    text-transform: uppercase;
    text-decoration: underline;
}

footer{

}